.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff;
    padding-top: 136px !important;
}

.container {
    flex: 1;
}

.main {
    height: 100%;
}
