@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@mixin hover-transition {
    transition: all 0.2s ease;
    &:hover {
        @content;
    }
}
