$font-size-base: var(--mui-typography-fontSize, 16px);
$line-height-base: var(--mui-typography-lineHeight, 1.5);

$font-weight-regular: var(--mui-typography-fontWeightRegular, 400);
$font-weight-medium: var(--mui-typography-fontWeightMedium, 500);
$font-weight-bold: var(--mui-typography-fontWeightBold, 600);


$font-size-h3: var(--mui-typography-h3-fontSize, 1rem);
$font-weight-h3: var(--mui-typography-h3-fontWeight, 500);
$line-height-h3: var(--mui-typography-h3-lineHeight, 1.5);

