@import "../../styles/utils/mixins.scss";
@import "../../styles/utils/_variables.scss";
.header {
    background-color: #fff !important;
    position: fixed;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    border-bottom: #CED2DA;
}

.toolbar {
    padding: 24px 0 !important;
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.logoSection {
    display: flex;
    align-items: center;
    .logoButton {
    }
}

.img {
    width: 118px;
    height: 34px;
}

.nav {
    @include flex-between;
    gap: 32px;
    font: inherit;
}

.navSection {
    display: flex;
    align-items: center;
    gap: 32px;
    width: 624px;
}
